<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oven.mapper.LogMapper">

	<!-- 添加 -->
	<insert id="insert">
		INSERT INTO `t_log`
		            (`dbid`,
		             `title`,
		             `content`,
		             `user_id`,
		             `nick_name`,
		             `create_time`,
		             `ip`)
		VALUES (null,
		        #{title},
		        #{content},
		        #{userId},
		        #{nickName},
		        #{createTime},
		        #{ip})
	</insert>
	
	<!-- 分页查询日志 -->
	<select id="findByPage" resultMap="logMap">
		select * from t_log l
		<where>
			<if test="keyword != null and keyword != ''">
				and (l.nick_name like concat("%", #{keyword}, "%") or l.title like concat("%", #{keyword}, "%") or l.content like concat("%", #{keyword}, "%"))
			</if>
		</where>
		order by l.create_time desc
		limit #{pu.index},#{pu.pageSize}
	</select>
	
	<!-- 统计日志总数量 -->
	<select id="total" resultType="long">
		select count(*) from t_log l
		<where>
			<if test="keyword != null and keyword != ''">
				and (l.nick_name like concat("%", #{keyword}, "%") or l.title like concat("%", #{keyword}, "%") or l.content like concat("%", #{keyword}, "%"))
			</if>
		</where>
	</select>

	<!-- 结果集映射 -->
	<resultMap type="com.oven.vo.Log" id="logMap">
		<id column="dbid" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="user_id" property="userId" />
		<result column="nick_name" property="nickName" />
		<result column="create_time" property="createTime" />
		<result column="ip" property="ip" />
	</resultMap>

</mapper>