<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skyer.mapper.MenuMapper">

	<!-- 添加 -->
	<insert id="insert">
		INSERT INTO `t_menu`
		            (`dbid`,
		             `menu_code`,
		             `menu_name`,
		             `pid`,
		             `sort`,
		             `url`,
		             `iconCls`,
		             `type`,
		             `create_time`,
		             `modify_time`,
		             `status`)
		VALUES (null,
		        #{menuCode},
		        #{menuName},
		        #{pid},
		        #{sort},
		        #{url},
		        #{iconCls},
		        #{type},
		        #{createTime},
		        #{modifyTime},
		        #{status})
	</insert>

	<!-- 修改 -->
	<update id="update">
		UPDATE `t_menu`
		SET `menu_code` = #{menuCode},
		    `menu_name` = #{menuName},
		    `pid` = #{pid},
		    `sort` = #{sort},
		    `url` = #{url},
		    `iconCls` = #{iconCls},
		    `type` = #{type},
		    `create_time` = #{createTime},
		    `modify_time` = #{modifyTime},
		    `status` = #{status}
		where `dbid` = #{id}
	</update>
	
	<!-- 根据用户ID获取一个目录的所有子目录 -->
	<select id="getChildrenByPid" resultMap="menuMap">
		select * from t_menu m 
		where m.dbid in (select up.menu_id from t_user_permission up where up.user_id = #{userId}) 
		and m.type = 1 and m.status = 1 and m.pid = #{pid}
		order by m.`sort`
	</select>
	
	<!-- 通过主键获取 -->
	<select id="findById" resultMap="menuMap">
		select * from t_menu where dbid = #{id}
	</select>
	
	<!-- 分页获取菜单 -->
	<select id="findByPage" resultMap="menuMap">
		select * from t_menu 
		<where>
			<if test="keyword != null and keyword != ''">
				menu_name like concat("%", #{keyword}, "%")
			</if>
		</where>
	</select>
	
	<!-- 统计菜单总数量 -->
	<select id="total" resultType="long">
		select count(*) from t_menu
		<where>
			<if test="keyword != null and keyword != ''">
				menu_name like concat("%", #{keyword}, "%")
			</if>
		</where>
	</select>
	
	<!-- 通过菜单编号获取 -->
	<select id="findByMenuCode" resultMap="menuMap">
		select * from t_menu where menu_code = #{menuCode}
	</select>
	
	<!-- 获取一个目录的所有子目录 -->
	<select id="getMemuByPid" resultMap="menuMap">
		select * from t_menu m where m.status=1 and m.pid = #{pid} order by m.`sort`
	</select>

	<!-- 结果集映射 -->
	<resultMap type="com.skyer.vo.Menu" id="menuMap">
		<id column="dbid" property="id" />
		<result column="menu_code" property="menuCode" />
		<result column="menu_name" property="menuName" />
		<result column="pid" property="pid" />
		<result column="sort" property="sort" />
		<result column="url" property="url" />
		<result column="iconCls" property="iconCls" />
		<result column="type" property="type" />
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
		<result column="status" property="status" />
	</resultMap>

</mapper>