<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skyer.mapper.UserPermissionMapper">

	<!-- 获取一个用户的所有权限 -->
	<select id="findPermissionByUserName" resultType="string">
		select m.menu_code from t_menu m 
		where m.dbid in (select up.menu_id from t_user_permission up where up.user_id = #{userId})
	</select>
	
	<!-- 删除该用户的所有权限 -->
	<delete id="deleteUserPermission">
		delete from t_user_permission where user_id = #{userId}
	</delete>
	
	<!-- 判断一个用户有没有某个权限 -->
	<select id="hasPermission" resultType="long">
		select count(*) from t_user_permission up where up.user_id = #{userId} and up.menu_id = #{menuId}
	</select>
	
	<!-- 添加 -->
	<insert id="insert">
		insert into `t_user_permission`
		            (`dbid`,
		             `user_id`,
		             `menu_id`)
		values (null,
		        #{userId},
		        #{menuId})
	</insert>

	<!-- 结果集映射 -->
	<resultMap type="com.skyer.vo.UserPermission" id="userPermissionMap">
		<id column="dbid" property="id" />
		<result column="user_id" property="userId" />
		<result column="menu_id" property="menuId" />
	</resultMap>

</mapper>